/** Add css rules here for your application. */

h1 {
    font-size: 1em;
    font-weight: bold;
    text-align: center;
}

body {
    padding: 5px;
}

body, td, a, div, .p {
    font-family: arial, sans-serif;
	font-size: 14px;
}

a.feed-title {
    font-weight: bold;
}

div.feed-panel {
    width: 100%;
}

.popover {
    min-width: 500px;
	background: #ffffff;
	color: #2E6DA4;
	font-weight: normal;
	border-color: #2E6DA4;
}

.popover-title{
	background-image: linear-gradient(to bottom, #337AB7 0%, #2E6DA4 100%);
	background-repeat: repeat-x;
	background-color:  	#2E6DA4 ;
	border-color: #ffffff;
	color: #ffffff;
	font-weight: bold;
}
.arrow{
	   border-color: #2E6DA4;
}
.popover.right .arrow:after {
  border-right-color: #ffffff;
}
.popover.left .arrow:after {
  border-left-color: #ffffff;
}

div.top-bar {
    padding: 5px;
}

div.links-container {
    text-align: right;
    vertical-align: middle;
}

div.feeds-column {
    min-width: 350px;
    padding: 5px;
    flex-grow: 1;
    -ms-flex: 1;
    flex: 1;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

div.flex-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: flex-start;
    -webkit-flex-flow: row wrap;
    flex-wrap: wrap;
}

div.navbar {
    padding-left: 5px;
    padding-right: 5px;
}

.alert{
    margin: 0px;
}
li.link-li{
	width: 100%;
	overflow: ellipsis;
	white-space: nowrap;
	list-style: none; 
}

div.panel-body{
	padding: 3px;
}

.panel-heading{
	padding: 5px;
}

.navbar{
	margin-bottom: 5px;
	min-height: 35px;
	height: 35px;
	vertical-align: middle;
}
.navbar-default{
	min-height: 35px;
	height: 35px;
}

.panel{
	margin-bottom: 5px;
}

.navbar-nav > li > a {
	padding-bottom: 6px;
	padding-top: 6px;
}

.form-control{
	height: 22px;
	padding: 2px 4px;
}

div.panel-body ul {
		padding: 0px;
		margin: 0px;
		overflow: hidden;
		width: 100%;
}

div.top-bar {
    padding-bottom: 0px;
    padding-top: 0px;
}

.navbar-form {
    margin: 5px -15px;
}