<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="icon" href="house.ico" type="image/png">
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/bootstrap-theme.css">
        <link rel="stylesheet" href="css/startpage.css" type="text/css">
        <script type="text/javascript" src="config.json.js"></script>
        <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
        <script type="text/javascript" src="js/angular.min.js"></script>
        <script type="text/javascript" src="js/bootstrap.js"></script>
        <script type="text/javascript" src="js/feed-app.js"></script>
        <meta charset="UTF-8">
        <title>Strona startowa</title>
    </head>
    <body ng-app="RSSFeedApp">
        <div data-ng-controller="FeedCtrl">
            <div class="container-fluid top-bar">
                <div class="navbar navbar-default">
                    <ul class="nav navbar-nav">
                        <li ng-repeat="linkDef in linkDefs">
                            <a href="{{linkDef.link}}" target="_blank">{{linkDef.title}}</a>
                        </li>
                        <li ng-repeat="ggStatDef in ggStatsDefs">
                            <a href="gg://{{ggStatDef.number}}">
                                <img style="border:0" ng-src="http://status.gadu-gadu.pl/users/status.asp?id={{ggStatDef.number}}&styl=1"/>{{ggStatDef.title}}
                            </a>
                        </li>
                    </ul>
                    <div class="navbar-form navbar-right" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Szukaj w linkach..." data-ng-model="searchFilter">
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row flex-container">
                    <div class=" feeds-column" ng-repeat="(idx, feedDef) in rssFeedsSources">
                        <div class="panel-primary feed-panel panel">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    <a class="feed-title" href="{{feedDef.link}}" target="_blank">{{feedDef.title}}</a>
                                </h3>
                            </div>
                            <div class="panel-body"
                                 id="feed-panel-body-loading-{{idx}}">

                                <div class="progress">
                                  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                   Wczytywanie...
                                  </div>
                                </div>
                            </div>
                            <div class="panel-body"
                                 style="display:none;"
                                 id="feed-panel-body-error-{{idx}}" ng-click="loadFeed(idx, feedDef);">
                                <div class='alert alert-danger' role='alert'>Wystąpił problem podczas ładowania treści. Kliknij aby spróbować ponownie.</div>
                            </div>
                            <div class="panel-body" ng-init="loadFeed(idx, feedDef);"
                                 id="feed-panel-body-loaded-{{idx}}">
                                <ul>
									<li ng-repeat="feed in filteredFeeds[idx] = ( feeds[idx] | rssTitleSearch:searchFilter )" class="link-li"
									data-original-title="{{feed.title}}"
										   data-toggle="popover"
										   data-content="{{feed.description}}"
										   init-popover
									>
										<a href="{{feed.link}}"
											target="_blank"
										   >{{feed.title}}</a>
									</li>
								</ul>
                                <div class='alert alert-info' ng-hide="filteredFeeds[idx].length || !feeds[idx]" role='alert'>Brak wyników do wyświetlenia.</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </body>
</html>